h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.our-bakery {
  background-image: url(../../img/bacground.bakery.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
